<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScreenRecordSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD9F71551D7BF24C00100EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD9F71691D7BF24D00100EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD9F71741D7BF24D00100EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
